#--- Common properties
# The API key to use when contacting CaiaSoft
CAIASOFT_API_KEY=

# LOG_DIR: The directory used for logging
LOG_DIR=logs/

#--- circrequests properties
# The URL to query for hold requests
CIRCREQUESTS_SOURCE_URL=

# The URL to POST circrequests to
CIRCREQUESTS_DEST_URL=

# The directory where circrequests files should be written to
CIRCREQUESTS_STORAGE_DIR=storage/circrequests/

# File containing the fully-qualified filepath of the "last success"
CIRCREQUESTS_LAST_SUCCESS_LOOKUP=storage/circrequests/circrequests_last_success.txt
